venv/ 
.env
runs/
Model/Trained Modelv2/
venv310/
server/myapp/generative.py
uploads/
Model/Testmodel.ipynb
Test data/
Test random data/
Model/Confusion Matrx/
Garbage Code/
DatasetV2/
Datasetspt/
DatasetV12/