tensorflow
matplotlib
ipython
numpy
keras
torch
pandas
scikit-learn
opencv-python
ultralytics
openai
ollama
albumentations
seaborn

django
djangorestframework
django-cors-headers
requests
mysqlclient
pillow
python-decouple
